@font-face {
    font-family: "vazir";
    src: url("../fonts/Vazir.eot") format("eot");
    src: url("../fonts/Vazir.ttf") format("truetype"), url("../fonts/Vazir.woff") format("woff");
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "vazir";
    text-align: right;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    outline: none !important;
}

a {
    text-decoration: none !important;
}

.title h6 {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.title h2 {
    font-weight: 600;
    margin: 30px 0;
}

/* header */
.header {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

header .navbar {
    flex-direction: row-reverse;
    padding: 0;
}

header #collapsibleNavbar .navbar-nav .nav-item .nav-link {
    color: #fff;
    padding: 20px 15px;
    opacity: 0.6;
    font-size: 15px;
}

header #collapsibleNavbar .navbar-nav .nav-item .nav-link.active {
    color: #fff;
    opacity: 1;
}

header .navbar-brand {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    letter-spacing: 2px;
}

/* home */
.home {
    position: relative;
}

.home h1 {
    font-weight: 600;
    font-size: 58px;
}

.home p {
    line-height: 30px;
}

.home .home-btn {
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: 2px solid #fff;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.home .home-btn:hover {
    background: transparent;
    color: #fff;
}

.home .home-img img {
    animation: homeWatch 7s linear infinite;
    -webkit-animation: homeWatch 7s linear infinite;
}

@keyframes homeWatch {
    0% {
        transform: translateY(15px);
        -webkit-transform: translateY(15px);
        -moz-transform: translateY(15px);
        -ms-transform: translateY(15px);
        -o-transform: translateY(15px);
    }

    25% {
        transform: translateX(15px);
        -webkit-transform: translateX(15px);
        -moz-transform: translateX(15px);
        -ms-transform: translateX(15px);
        -o-transform: translateX(15px);
    }

    50% {
        transform: translateY(-15px);
        -webkit-transform: translateY(-15px);
        -moz-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        -o-transform: translateY(-15px);
    }

    75% {
        transform: translateX(-30px);
        -webkit-transform: translateX(-30px);
        -moz-transform: translateX(-30px);
        -ms-transform: translateX(-30px);
        -o-transform: translateX(-30px);
    }

    100% {
        transform: translateY(15px);
        -webkit-transform: translateY(15px);
        -moz-transform: translateY(15px);
        -ms-transform: translateY(15px);
        -o-transform: translateY(15px);
    }
}

.home .shape div {
    position: absolute;
    opacity: 0.08;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.home .shape div:nth-child(1) {
    top: 70%;
    right: -2%;
    background: url("../images/star-solid.svg") no-repeat;
    animation: shapeOne 8s linear infinite;
    -webkit-animation: shapeOne 8s linear infinite;
}

.home .shape div:nth-child(2) {
    top: 40%;
    left: 10%;
    background: url("../images/star-of-life-solid.svg") no-repeat;
    animation: shapeOne 8s linear infinite;
    -webkit-animation: shapeOne 8s linear infinite;
}

@keyframes shapeOne {
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }
}

.home .shape div:nth-child(3) {
    top: 10%;
    right: 40%;
    background-color: #fff;
    background-repeat: no-repeat;
    animation: shapeThree 5s linear infinite;
    -webkit-animation: shapeThree 5s linear infinite;
}

@keyframes shapeThree {
    0%,
    100% {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }

    50% {
        transform: scale(1.5);
        -webkit-transform: scale(1.5);
        -moz-transform: scale(1.5);
        -ms-transform: scale(1.5);
        -o-transform: scale(1.5);
    }
}

/* about */

.about {
    padding: 120px 0;
}

.about ul li svg {
    margin-left: 10px;
}

.about .about-img img {
    width: 220px;
}

/* features */

.features {
    padding: 120px 0;
    width: 100%;
    background: #f8f8f8;
}

.features-item {
    border: 1px solid #f6f6f6;
    box-shadow: 0 0 10px rgba(207, 207, 207, 0.3);
    background: #fff;
    padding: 45px 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-top: 30px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.features-item:hover {
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
}

.features-item:hover svg,
.features-item:hover p {
    color: #fff !important;
}

.features-item svg {
    font-size: 60px;
    transition: all 0.3s ease-in-out;
}

.features-item p {
    transition: all 0.3s ease-in-out;
}

/* products */

.products {
    width: 100%;
    padding: 120px 0;
}

.products .product-item {
    border: 1px solid #f2f2f2;
    margin-top: 50px;
    padding: 20px 10px;
    box-shadow: 0 0 7px rgba(195, 195, 195, 0.5);
}

.products .product-item .product-img {
    position: relative;
}

.products .product-item .product-img .overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.products .product-item .product-img .overlay a {
    color: #000;
    background: #fff;
    padding: 10px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    font-weight: 600;
    font-size: 20px;
    margin: auto;
    transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -moz-transform: translateY(200px);
    -ms-transform: translateY(200px);
    -o-transform: translateY(200px);
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.products .product-item .product-img:hover .overlay a {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}

.products .product-item .product-img:hover .overlay {
    opacity: 1;
}

.products .product-item .product-content {
    padding: 15px 0;
}

.products .product-item .product-content .product-price {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.products .product-item .product-content .product-price .old-price {
    color: #c00;
    text-decoration: line-through;
}

.products .product-item .product-content .product-price .new-price {
    color: green;
}

.products .product-item .product-content .product-name {
    text-align: center;
    padding: 10px 0;
}

.products .owl-carousel .owl-nav {
    margin: 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.products .owl-carousel button.owl-next,
.products .owl-carousel button.owl-prev {
    width: 40px;
    height: 40px;
    font-size: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}

/* testimonial */

.testimonial {
    padding: 120px 0;
    background: url("../images/testimonial.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    position: relative;
}

.testimonial::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
}

.testimonial .testi-item {
    background: #fff;
    padding: 25px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    color: #000;
}

.testimonial .testi-item .star svg {
    color: gold;
}

.testimonial .testi-item img {
    height: 120px;
}

.testimonial .owl-carousel .owl-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
}

.testimonial .owl-carousel button.owl-next,
.testimonial .owl-carousel button.owl-prev {
    width: 40px;
    height: 40px;
    font-size: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    background: #fff;
}

/* faq */

.faq {
    padding: 120px 0;
}

.faq .faq-item {
    margin-bottom: 50px;
}

.faq .faq-item p {
    line-height: 28px;
}

/* newsleeter */

.newsletter {
    background: url("../images/contactusbanner.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 120px 0;
    position: relative;
}

.newsletter::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
}

.newsletter .newsletter-form {
    background: #fff;
    padding: 5px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    display: flex;
}

.newsletter .newsletter-form button {
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

/* contact form */

.contact {
    width: 100%;
    padding: 120px 0;
}

.contact .contact-form input {
    border: none;
    border-bottom: 2px solid rgb(190, 190, 190);
    padding: 5px;
    transition: all 0.3 ease-in-out;
    -webkit-transition: all 0.3 ease-in-out;
    -moz-transition: all 0.3 ease-in-out;
    -ms-transition: all 0.3 ease-in-out;
    -o-transition: all 0.3 ease-in-out;
}

.contact .contact-form textarea {
    border: none;
    border-bottom: 2px solid rgb(190, 190, 190);
    padding: 5px;
    transition: all 0.3 ease-in-out;
    -webkit-transition: all 0.3 ease-in-out;
    -moz-transition: all 0.3 ease-in-out;
    -ms-transition: all 0.3 ease-in-out;
    -o-transition: all 0.3 ease-in-out;
    height: 150px;
    resize: none;
}

.contact .contact-form button {
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    padding: 10px 35px;
    margin: 40px 0;
}

.contact .contact-form button:hover {
    background: transparent;
    color: #000;
}

.contact .contact-item {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.contact .contact-item svg {
    font-size: 22px;
}

.contact .contact-item .contact-desc h5 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

.contact .contact-item .contact-desc p {
    font-size: 14px;
}

/* footer */

.footer {
    width: 100%;
    padding: 100px 0;
    position: relative;
}

.footer .title h4 {
    font-size: 28px;
    font-weight: bold;
}

.footer .title h5 {
    margin-top: 10px;
    font-size: 15px;
}

.footer ul li {
    list-style: none;
}

.footer ul li a {
    padding: 5px;
}

.footer ul li a .fa-instagram,
.footer ul li a .fa-facebook,
.footer ul li a .fa-youtube,
.footer ul li a .fa-twitter,
.footer ul li a .fa-linkedin-in {
    color: #fff;
    width: 40px;
    height: 40px;
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.footer ul li svg:hover {
    background: #fff;
}

.footer .copy-right {
    position: absolute;
    bottom: 0;
    padding: 20px 0;
    border-top: 1px solid rgb(255, 105, 105);
}

@media screen and (max-width: 992px) {
    .home {
        padding: 100px 0;
    }

    .home .home-img img {
        width: 200px !important;
    }

    .home-img {
        text-align: center !important;
        margin-top: -250px;
    }
}

@media screen and (max-width: 768px) {
    .title h2 {
        font-size: 20px;
    }

    .home {
        padding: 0;
    }

    .home p {
        display: none;
    }
}

@media screen and (max-width: 576px) {
    .home-content {
        text-align: center !important;
    }

    .home h1 {
        font-size: 40px;
    }
}
