.header,
.home,
.features-item:hover,
.testimonial::before,
.newsletter::before {
    background-color: #d70d25;
}

.home .home-btn,
.about ul li svg,
.features-item svg,
.testimonial .testi-item .client-info-desc h5,
.testimonial .owl-carousel button.owl-next,
.testimonial .owl-carousel button.owl-prev,
.contact .contact-item svg,
.footer ul li:hover svg {
    color: #d70d25;
}

.title h6,
.features-item:hover,
.products .owl-carousel button.owl-next,
.products .owl-carousel button.owl-prev,
.testimonial .owl-carousel button.owl-next:hover,
.testimonial .owl-carousel button.owl-prev:hover,
.newsletter .newsletter-form button,
.contact .contact-form button,
.footer {
    background-color: #d70d25;
    color: #fff;
}

.contact .contact-form button {
    border: 3px solid #d70d25;
}

.contact .contact-form input:focus,
.contact .contact-form textarea:focus {
    border-bottom: 2px solid #d70d25;
}

.footer .copy-right {
    border-top: 1px solid #e2273d;
}
