.style-switcher {
    position: fixed;
    top: 100px;
    right: 0;
    background: #fff;
    padding: 15px;
    z-index: 1;
    text-align: center;
    border: 1px solid #e9e9e9;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.style-switcher.open {
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
}

.style-switcher ul {
    margin: 15px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.style-switcher ul li {
    width: 30px;
    height: 30px;
    border-radius: 10px 0 10px 0;
    -webkit-border-radius: 10px 0 10px 0;
    -moz-border-radius: 10px 0 10px 0;
    -ms-border-radius: 10px 0 10px 0;
    -o-border-radius: 10px 0 10px 0;
    cursor: pointer;
    margin: 0 5px;
}

.style-switcher .toggle-style-switcher {
    width: 40px;
    height: 40px;
    position: absolute;
    left: -40px;
    top: 0;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
